<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <h3>S2T-FORMATION</h3>
        <p>Créer maintenant votre compte , inscrivez vous sur des sessions de formation et à la fin vous obtenez votre attestation</p>
        <img src="https://i.imgur.com/jhEnk5y.png"/>
        <ion-button color="primary" (click)="tosignupPage()">Créer un compte</ion-button>
        <ion-button color="primary" (click)="tosigninPage()">Se connecter</ion-button>
        <!-- <ion-button color="primary" (click)="inscrisession()">inscrisession</ion-button> -->

      </ion-slide>
    
  
    </ion-slides>
  </ion-content>