<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptt.wiw</h3>
        <p>Vous pouvez s'inscrire a des sessions de formation et avoir une attestation a la fin de votre formation</p>
        <img src="https://i.imgur.com/jhEnk5y.png"/>
        <ion-button color="primary" (click)="tosignupPage()">Créer un compte</ion-button>
        <ion-button color="primary" (click)="tosigninPage()">Se connecter</ion-button>
        <ion-button color="primary" (click)="inscrisession()">inscrisession</ion-button>

      </ion-slide>
    
  
    </ion-slides>
  </ion-content>