<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="messessions">
      <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>Mes sessions</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="listesessions">
      <ion-icon name="list-outline"></ion-icon>
            <ion-label>Liste des sessions</ion-label>
    </ion-tab-button>

    
    <ion-tab-button tab="modifierprofil">
      <ion-icon name="person-circle-outline"></ion-icon>  
          <ion-label>Modifier profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>